body {
    font: 200 2em 'Helvetica Neue', 'Segoe UI', 'Droid Sans', 'Helvetica';
    padding: 3em;
    margin: 0;
}

a {
    color: #00B7FF;
}


.outdiv{
    perspective: 5000px;
    transform-style: preserve-3d;
}
.haha.ng-enter {
    transition: all linear 0.2s;
    opacity: 0;

    transform:rotateY(180deg);
    transform-origin: 50% 50%;

}

.haha.ng-enter.ng-enter-active {
    opacity: 1;

    color: purple;
    transform:rotateY(0deg);

}


.haha.ng-leave {

    opacity: 1;
}
.haha.ng-leave.ng-leave-active {
    opacity: 0;
}





.monthshows{
    width: 25%;
    float:left;
    border: 1px solid #5e5e5e;
    text-align: center;
    padding:2em;
}

.monthshows:hover{
    background-color: mediumpurple;
    color:#fff;
    cursor: pointer;
}

.dayblock{
    width: 14.2857%;
    float:left;
    border: 1px solid #5e5e5e;
    text-align: center;
    padding:0.5em;
}

.dayblock.days2:hover{
    background-color: mediumpurple;
    color:#fff;
    cursor: pointer;
}

.weekday{
    background-color: mediumpurple;
    color:#fff;
    text-align: center;
    padding: 0.5em;
    border: 1px solid #fff
}

.container{
    width:40%;
    margin:0 auto;
    padding:0;


}


.days1,.days3 {
    color: transparent;

}

.h1{
    text-align: center;

    display: inline-block;
    margin-top:0;
    width:94%;


}
.left{
    text-align: center;
    color:white;
    background: mediumpurple;

    float:left;
}

.left:hover,.right:hover{
    cursor: pointer;
    color:purple;
}

.right{
    text-align: center;
    color:white;
    background: mediumpurple;
    float:right;
}

.right:after{
    clear:both;
}

.container2{
    position:relative;
    width:40%;
    margin:0 auto;
}


.container3{
    width:40%;
    margin:10px auto;
    color:white;
    background: mediumpurple;

}


.hours{

    float:left;
    width:100%;
    cursor:pointer;
}


.addContent{
    height:170px;
    width:300px;
    background:#eee;
    display:none;
    margin: 0 700px;
    position:absolute;

}

.result{

    width:300px;
    background:#eee;
    display:none;
    margin: 220px 700px;
    position:absolute;
}

.info,.dateInfo{
    background-color: mediumpurple;
    color:white;
    text-align: center;
    padding: 0.5em;
}
.oneHour{
    border:1px solid #5e5e5e;
    border-collapse: inherit;
    padding:0.5em;
}

.purple{

    border:1px solid #5e5e5e;
    border-collapse: inherit;
    padding:0.5em;

}

.content,.goback{
    padding:0.5em
}

button{

    margin:0 0.5em;
}

.year{
    text-align: center;
    color:white;
    background: mediumpurple;
    padding:0.5em;
    margin-bottom:0.3em;

}

a{
    color:white;
}

a:hover{
    color:purple;
}

