<style>

</style>
<div class="view">
    <div  class="container3">


        <div class="left" ng-click="selectPre()"> <h1> < </h1></div>
        <div class="h1"><h1>Calendar : <a href="#/years">{{year}}</a> | {{specificMonth}}</h1></div>

        <div class="right" ng-click="selectNext()"><h1> > </h1> </div>


    </div>




    <div class="container">


        <div  class="dayblock weekday" ng-repeat="weekday in weekdays">{{weekday}}</div>
        <div  class="dayblock days1" ng-repeat="day1 in days1" >{{day1.day}}</div>
        <div class="dayblock days2" ng-repeat="day2 in days2">

            <div ng-click="selectDay(day2.day)">{{day2.day}} </div>
        </div>


        <div  class="dayblock days3" ng-repeat="day3 in days3">{{day3.day}}</div>
        <div class="goback"><a href="#/years"  >Go Back</a></div>
    </div>

</div>